extends layout

block content
    .w3-card-4

        if (modo == "alunos")
            header.w3-container.w3-teal
                h3 Lista de Alunos

        

            if (lista.length > 0)
                .w3-container
                    table(class="w3-table-all")
                        tr
                            th Número
                            th Nome
                            th Git
                        each a in lista
                            tr
                                td= a.Número
                                td 
                                    a(href=`http://localhost:7700/alunos/${a.Número}`) #{a.Nome}
                                td= a.Git
            else
                div(class="w3-container")
                    p Ainda não há alunos registados...

            .w3-container
                a(href="http://localhost:7700/alunos/registar")
                    button(class="w3-button w3-green")
                        Registar
                        
            footer(class="w3-container w3-teal")
                address Gerado por galuno :: 2020-Novembro, jcr

        else if (modo == "aluno")
            header.w3-container.w3-teal
                h3 Página de aluno

            if (lista.tpc.length > 0)
                - var count = 0
                .w3-container
                    p Número: #{lista.Número}
                    p Nome: #{lista.Nome}
                    p Git: 
                        a(href=`${lista.Git}`) #{lista.Git}

                    table(class="w3-table-all")
                        tr
                            th TPC
                            th Status
                        each a in lista.tpc
                            tr
                                td=++count
                                td=a

                    a(href=`http://localhost:7700/alunos/editar/${lista.Número}`) Editar
                    br

                    form(action='/alunos?_method=DELETE', method='POST')
                        input(type='hidden', name='Número', value=`${lista.Número}`)
                        input(type='submit', value='Delete')
                
                            
            else
                div(class="w3-container")
                    p Ainda não há alunos registados...

            br
            br

            a(href='http://localhost:7700/alunos/') Voltar

            footer(class="w3-container w3-teal")
                address Gerado por galuno :: 2020-Novembro, jcr

        else if (modo == "apagado")
            header.w3-container.w3-teal
                h3 Delete de aluno

            .w3-container
                p
                    h3 Aluno apagado

                a(href='http://localhost:7700/alunos/') Voltar

            footer(class="w3-container w3-teal")
                address Gerado por galuno :: 2020-Novembro, jcr

        else if (modo == "editar")
            header.w3-container.w3-teal
                h3 Editar Aluno
        
            .w3-container
                form(action='/alunos?_method=PUT', method='POST')
                    br
                    label
                        b Número
                    input(class="w3-input w3-border w3-light-grey", type='text', name='Número', value=`${lista.Número}`)

                    label
                        b Nome
                    input(class="w3-input w3-border w3-light-grey",type="text",name="Nome", value=`${lista.Nome}`)

                    label
                        b Github
                    input(class="w3-input w3-border w3-light-grey",type="text",name="Git", value=`${lista.Git}`)

                    label
                        b TPCs
                    input(class="w3-input w3-boder w3-light-grey",type="text",name="tpc", value=`${lista.tpc}`)

                    input(class="w3-btn w3-blue-grey",type="submit",value="Confirmar")
                    input(class="w3-btn w3-blue-grey",type="reset",value="Limpar valores")


            br
            br
            footer(class="w3-container w3-teal")
                address Gerado por galuno :: 2020-Novembro, jcr  

        else if (modo == "registo")
            header.w3-container.w3-teal
                h3 Registo de aluno

            .w3-container
                form(action='/alunos',method='POST')
                    label
                        b Número
                    input(class="w3-input w3-border w3-light-grey",type="text",name='Número')

                    label
                        b Nome
                    input(class="w3-input w3-border w3-light-grey",type="text",name="Nome")

                    label
                        b Git
                    input(class="w3-input w3-border w3-light-grey",type="text",name="Git")

                    label
                        b TPCS
                    input(class="w3-input w3-boder w3-light-grey",type="text",name="tpc")

                    input(class="w3-btn w3-blue-grey",type="submit",value="Registar")
                    input(class="w3-btn w3-blue-grey",type="reset",value="Limpar valores")

                    
        
            br
            br
            footer(class="w3-container w3-teal")
                address Gerado por galuno :: 2020-Novembro, jcr

        else if (modo == "index")
            h1= title
            p Welcome to #{title}

        else if (modo == "erro")
            h1= message
            h2= error.status
            pre #{error.stack}


